# Web Framework
fastapi
uvicorn[standard]
python-multipart

# LangChain & Ecosystem
langchain
langchain-community
langchain-core
langchain-text-splitters

# Vectorstore
chromadb

# Embeddings
langchain-groq
sentence-transformers
langchain-huggingface
langchain-chroma

# PDF Parsing
PyPDF  # backend for PyPDFLoader via langchain_community

# Markdown Parsing
unstructured          # UnstructuredMarkdownLoader
unstructured[md]      # markdown extras

# Excel / CSV Parsing
pandas
openpyxl              # pandas Excel backend (.xlsx)

# Environment Variables
python-dotenv

# Typing & Utilities
pydantic

# Process
tqdm

# pip install -r requirements.txt